
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, figure, select, ul li ul, ul li ol, ul li ul li, ul li ol li { margin: 0px; padding: 0px; box-sizing: border-box; }
fieldset, img, abbr { border: medium none; }
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var { font-weight: normal; font-style: normal; }
a, ins { text-decoration: none; }
ul { list-style: outside none none; }
button { border: medium none; }
.left { float: left ! important; }
.right { float: right ! important; }
.bold { font-weight: bold; }
a { text-decoration: underline; }
.comments a { text-decoration: none; }
.row { margin: 0px auto; max-width: 1270px; width: 100%; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.columns, .column { float: left; padding: 0px 10px; position: relative; }
@media only screen and (min-width: 0px) {
	body .xsmall-2 { width: 16.6667%; }
	body .xsmall-10 { width: 83.3333%; }
	body .xsmall-12 { width: 100%; }
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 640px) {
	body .medium-1 { width: 8.33333%; }
	body .medium-11 { width: 91.6667%; }
}
@media only screen and (min-width: 1024px) {
	body .large-4 { width: 38.3333%; }
	body .large-8 { width: 61.6667%; }
}
body { background-color: rgb(255, 255, 255); }
h1 { font-size: 28px; margin: 0px 0px 20px; }
h2 { margin: 15px 0px 10px; font-size: 20px; }
.italic { font-style: italic; }
.mark-border { background: rgb(253, 253, 213) none repeat scroll 0% 0%; border: 1px solid rgb(211, 211, 62); padding: 8px 10px; margin-top: 20px; }
header { padding: 15px 0px; border-bottom: 2px solid rgb(229, 229, 229); }
header .row { padding: 0px 15px; }
.logo-txt { line-height: 50px; text-transform: uppercase; color: rgb(7, 87, 168); font-size: 24px; font-weight: 700; margin: 0px 15px; }
.header-date { color: rgb(150, 160, 168); font-size: 12px; line-height: 57px; }
#user-city2 { font-size: 13px; line-height: 54px; margin: 0px 15px; color: rgb(5, 81, 157); }
.main-menu { margin-left: 55px; }
.main-menu li { display: inline-block; }
.main-menu li a { padding: 2px 4px; text-decoration: none; text-transform: uppercase; color: rgb(27, 53, 74); font-size: 14px; font-weight: 700; margin-right: 6px; border: 1px solid transparent; }
.main-menu li a:hover { border: 1px solid rgb(116, 117, 129); color: rgb(128, 129, 142); }
@media only screen and (max-width: 750px) {
	header { padding: 10px 0px; }
	img.left { height: 35px; width: auto; }
	.main-menu { display: none; }
	.logo-txt { line-height: 40px; }
	header .row { padding: 0px 10px; }
	.header-date { line-height: 47px; }
	#user-city2 { display: none; }
}
@media only screen and (max-width: 480px) {
	.header-date { line-height: 10px; margin-left: 43px; }
	.header-date { display: block; }
}
main { padding: 20px 0px; font-size: 18px; }
.content img { max-width: 100%; }
.sber { margin: 25px 0px; }
.sber img { border: 1px solid rgb(204, 204, 204); }
.img-label { font-family: "Arial"; font-size: 13px; font-weight: bold; margin-bottom: 10px; }
blockquote { padding: 0px; }
.news { width: 100%; }
.news-title { background-color: rgb(7, 87, 168); color: rgb(255, 255, 255); padding: 5px 15px; font-size: 20px; font-weight: bold; }
.news-text { font-size: 15px; padding: 15px 30px; background-color: rgba(7, 87, 168, 0.2); }
.news-text img { max-width: 100%; }
.news-text .step { font-weight: bold; padding: 20px 0px 5px; }
li { margin-bottom: 15px; }
.photo-aside { height: 200px; width: auto; margin-bottom: 15px; position: relative; left: 50%; transform: translateX(-50%); }
.intext-photo { padding: 0px; }
.banner { position: relative; left: 50%; transform: translateX(-50%); }
.aside { position: relative; }
.sidebar a { font-weight: bold; }
@media only screen and (min-width: 1024px) {
}
.comments p { font-family: "Arial"; }
.comments textarea { color: rgb(119, 119, 119); min-height: 50px; width: 100%; }
.comments .fbcity { color: rgb(153, 153, 153); font-weight: normal; }
.fb-button { background-color: rgb(66, 103, 178); border-color: rgb(66, 103, 178); border-radius: 2px; font-family: "Arial"; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); padding: 4px 16px; float: right ! important; display: inline-block; position: relative; left: 5px; }
.fb-button:hover, .fb-button:active { background-color: rgb(54, 88, 153); border-color: rgb(54, 88, 153); }
.lastcomm { color: rgb(54, 88, 153); }
.user-photo { position: absolute; left: 0px; top: 0px; height: 50px; width: 50px; }
.comment-block { margin-top: 20px; padding-left: 60px; position: relative; }
.fbtext { font-size: 14px; }
.fbtext img { max-width: 85%; margin: 15px 0px 5px; position: relative; left: 50%; transform: translateX(-50%); }
.fbaction { font-size: 13px; color: rgb(59, 89, 152); margin-top: 10px; }
a, a:link, a:active { color: rgb(59, 89, 152); }
a.fb-buttonv, a.fb-button:link, a.fb-button:active a:hover { color: rgb(255, 255, 255); }
.fbtime { color: rgb(153, 153, 153); cursor: help; border-bottom: 1px dotted rgb(153, 153, 153); }
.user-name { color: rgb(59, 89, 152); font-size: 13px; font-weight: bold; margin-bottom: 5px; }
footer { padding: 57px 0px 20px; text-align: center; background-color: rgb(255, 255, 255); }
footer p { font-size: 14px; }
.article p { text-indent: 20px; margin: 20px 0px 10px; }
.mark-border { background: rgb(253, 253, 213) none repeat scroll 0% 0%; border: 1px solid rgb(211, 211, 62); font-weight: bold; padding: 8px 10px; margin-top: 20px; }
#ouibounce-modal { font-family: "Open Sans",sans-serif; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 101; }
#ouibounce-modal .underlay { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; animation: 0.5s ease 0s normal none 1 running fadein; z-index: 100; }
#ouibounce-modal .modal { width: 600px; height: 400px; background-color: rgb(240, 241, 242); position: absolute; margin: auto; top: 0px; right: 0px; bottom: 0px; left: 0px; border-radius: 4px; animation: 0.3s ease 0s normal none 1 running popin; z-index: 101; }
#ouibounce-modal .modal-title { font-size: 18px; background-color: rgb(37, 37, 37); color: rgb(255, 255, 255); padding: 10px; margin: 0px; border-radius: 4px 4px 0px 0px; text-align: center; }
#ouibounce-modal h3 { color: rgb(255, 255, 255); font-size: 1em; margin: 0.2em; text-transform: uppercase; font-weight: 500; }
#ouibounce-modal .modal-body { padding: 20px 35px; font-size: 0.9em; }
#ouibounce-modal p { color: rgb(52, 74, 95); line-height: 1.3em; }
#ouibounce-modal .modal-footer { position: absolute; bottom: 20px; text-align: center; width: 100%; }
.addComment { border: medium none; background: rgb(43, 88, 122) none repeat scroll 0% 0% padding-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; cursor: pointer; height: 27px; line-height: 27px; padding: 0px 10px; border-radius: 2px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24); outline: medium none; margin: 14px auto 45px; width: 250px; display: block; }
.vk-textarea::after { content: ""; display: block; clear: both; }
.addComment { border: medium none; background: rgb(43, 88, 122) none repeat scroll 0% 0% padding-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; cursor: pointer; height: 27px; line-height: 27px; padding: 0px 10px; border-radius: 2px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24); outline: medium none; margin: 14px auto 45px; width: 250px; display: block; }
body {font-family: 'Open Sans', sans-serif;
}

.row.content {
    display: flex;
   justify-content: center;
}

.price {
font-size: 20px;
display:none !important;
}
.line-through {
 text-decoration: line-through;
 }
.img-box {
    width: 150px;
    height: 150px;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.order_form {
	margin: 0 auto;
	width: 60%;
	min-width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #949090;
}
.img-box {
	width: 150px;
	height: 150px;
}
.img-box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.order_form button {
	width: 150px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	background: #fdcb1e;
	cursor: pointer;
	filter: contrast(80%);
}
.order_form button:hover {
	filter: contrast(100%);
}
